.button {
  background-color: rgba(rebeccapurple, 0.7);
  border-radius: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-weight: 700;
  margin: 1rem 0;
  padding: 1rem;
  text-transform: uppercase;
  transition: all 0.4s ease;
  &:hover {
    text-decoration: none;
    background-color: rgba(rebeccapurple, 0.9);
  }
}
